.head {
    /* background-color: rgba(127, 255, 212, 0.198); */

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 5px 5px grey;
    padding-right: 20px;
    margin: 0%;
    background: black;
    
}

.nav {
    /* background-color: aqua; */
    margin: 1px;
    padding: 1px;
    grid-column:2/5 ;
    float: right;
    color: white;
    margin-right: 45px;
    font-size: medium;
    display: flex;

}
.res{
   padding: 10px;
   margin: 10px;
  
}




.head h3 {
    
  
    margin-left: 24px;
    font-family: fantasy;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    user-select: none;
    color:white;
    align-items: center;
    justify-content: center;
    text-align: center;

}



.nav :hover {
    color: white;
    transform: scale(1.1);

}

.link{
    text-decoration: none;
    color: aliceblue;
}



/* @media only screen and (max-width:600px) {



    .head h3 {
        margin-left: 5px;
        font-size: larger;
        grid-column: 1/4;
    }

    .res {
        display: none;
    }
} */